<%- page_title "Jeremy's Homepage" %>
<nav class="navbar navbar-default" role="navigation">
  <div id="navi-bar" class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navi-bar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Jeremy Poulin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navi-bar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="projects"><span class="glyphicon glyphicon-globe"></span> Projects</a></li>
        <li><a href="music"><span class="glyphicon glyphicon-music"></span> Music</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Resume</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
      </ul>
    </div><!-- .navbar-collapse -->
  </div><!-- #navi_bar .container-fluid -->
</nav>

<div class="container-fluid main-wrapper">
  <div class="row">
    <div class="col-md-8">
      <div class="left-block">
        <hr/>
        <h1>Jeremy Poulin</h1>
        <hr/>
        <div> <img id="selfie" border="0px" src="Images/HomePage/me_at_beach.jpg"/> </div>
        <hr/>
        <h2>You are who want to be - you just have to show it.</h2>
        <hr/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="right-block">
        <h2>About Me</h2>
        <hr/>
        <h3>Fighting for a better way to live, a better world to live in, and a better web to share it with!</h3>
      </div>
    </div>
  </div>

  <div class="sub-navigation">
    <ul>
      <li><a href="#">Home</a> &middot;</li>
      <li><a href="projects">Projects</a> &middot;</li>
      <li><a href="music">Music</a> &middot;</li>
      <li><a href="#">Resume</a> &middot;</li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>