<%- page_title "Jeremy's Projects" %>

<nav class="navbar navbar-default" role="navigation">
<div id="navi-bar" class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navi-bar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Jeremy Poulin</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navi-bar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li class="active"><a href="#"><span class="glyphicon glyphicon-globe"></span> Projects</a></li>
      <li><a href="music"><span class="glyphicon glyphicon-music"></span> Music</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Resume</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
    </ul>
  </div><!-- .navbar-collapse -->
</div><!-- #navi_bar .container-fluid -->
</nav>

<div class="container-fluid main-wrapper">
<div class="row">
  <div class="col-md-8">
    <div class="left-block">
      <hr/>
      <h1>Projects</h1>
      <i>Follow me on Github!</i>
      <hr/>
      <a class="btn btn-default" href="//github.com/jaypoulz"> <img id="github" border="0px" height="300px" width="350px" src="Images/Projects/octocat.png"/> </a>
      <hr/>
      <h2>A bug fix a day keeps the seg-faults away.</h2>
      <hr/>
    </div>
  </div>
  <div class="col-md-4">
    <div class="right-block">
      <h2>Current Projects</h2>
      <ul>
        <li><a href="//quelcharts.herokuapp.com">QuelCharts</a></li>
        <li>Firefox Prefetch</li>
        <li><a href="//isenseproject.org">iSENSE</a></li>
        <li><a href="//github.com/jaypoulz/TildeJPoulin">TildeJPoulin</a></li>
      </ul>
      <h2>Legacy Projects</h2>
      <ul>
        <li><a href="//github.com/jaypoulz/Galamax">Galamax</a></li>
        <li><a href="//github.com/stowellm/Frogs">Sharpeggio</a></li>
        <li>Martee</li>
      </ul>
    </div>
  </div>
</div>

<div class="sub-navigation">
  <ul>
    <li><a href="/">Home</a> &middot;</li>
    <li><a href="#">Projects</a> &middot;</li>
    <li><a href="music">Music</a> &middot;</li>
    <li><a href="#">Resume</a> &middot;</li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>
</div>