$font-stack: Arial, Geneva, sans-serif;
$orange:    #FF7C00;
$yellow:    #FFAB00;
$gray:      #555555;
$dk-orange: #A65100;
$dk-yellow: #A67000;
$dk-gray:   #444444;
$lt-orange: #FF9E41;
$lt-yellow: #FFC141;
$lt-gray:   #353535;
$white:     #FFFFFF;
$black:     #000000;
$border:    $black solid 2px;

body {
  font-family: $font-stack;
  font-size: 16px;
  color: $gray;
  margin: 0px auto;
  background-image: url("../images/grain.png");
}

.scroll-magic-pin-spacer {
  width: 100% !important;
}
.collapse-full {
}

#name {
  font-size: 36px;
  border-bottom: $border;
}

.quote {
  font-size: 20px;
  font-style: italic;
}

a:focus {
  outline: none;
  -moz-focus-inner: 0;
}

.link {
  cursor: pointer;
}

.logo {
  height: 64px;
  width: 64px;
  margin: 20px;
}

.logo.logo-cr {
  width: 76px;
}

.navbar-default {
  border: none;
  background: $orange;

  .navbar-brand, .navbar-brand:active,
  .navbar-brand:focus, .navbar-brand:hover {
    font-size: 20px;
    font-variant: small-caps;
    font-weight: bold;
    color: $black;
  }

  .navbar-nav {
    li {
      a, a:focus, a:active {
        background: $orange;
        color: $dk-gray;
      }

      a:hover {
        background: $orange;
        color: $black;
      }
    }

    li.active {
      a, a:focus, a:hover, a:active {
        background: $lt-orange;
        color: $black;
      }
    }
  }
}

#navi-bar {
  width: 1200px;
}

#content {
  padding-top: 70px;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  height: 7770px;
  width: 100%;
}

.section {
  height: 700px;
  width: 100%;
}


#selfie-box {
  position: relative;
}

#selfie {
  margin: auto 0;
  width: 100%;
  height: inherit;
  border-radius: 100%;
}
